.mainElementsContainer {
  width: 100%;
  margin-top: 300px;
}
.mainElementsContainer .topImage {
  width: 100%;
  height: 100px;
  position: absolute;
  top: 0px;
  background-repeat: no-repeat;
  background-size: contain;
  height: 200px;
  background-position: 50%;
  background-color: black;
}
.mainElementsContainer .sizes {
  display: block;
  width: 50%;
  min-height: 200px;
  /* width:750px; */
  margin: 0 auto;
}
.mainElementsContainer .sizes .sizeElment {
  background-position-y: 30px;
  overflow: visible;
  padding-bottom: 142px;
  background-position-y: 0px;
  width: 33%;
  float: left;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 100;
}
.mainElementsContainer .sizes .sizeElment.selected {
  background-image: url(/static/media/arrow-back.91669da6.png);
  background-position-y: 30px;
  overflow: visible;
  padding-bottom: 142px;
  background-position-y: 0px;
}
.mainElementsContainer .sizes .sizeElment:nth-of-type(2) img {
  width: 200px;
}
.mainElementsContainer .sizes .sizeElment:nth-of-type(1) img {
  width: 150px;
}
.mainElementsContainer .sizes .sizeElment:nth-of-type(3) img {
  width: 100px;
}
.mainElementsContainer .mainTypeDiv {
  max-width: 60%;
  margin: 0 auto;
}
.mainElementsContainer .mainTypeDiv .pizzaType {
  width: 33%;
  float: left;
}
.mainElementsContainer .mainTypeDiv .pizzaType.selected {
  background-image: url('../assets/circle.png');
  background-repeat: no-repat;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.mainElementsContainer .mainTypeDiv .pizzaType img {
  width: 200px;
}
.mainElementsContainer .mainTypeDiv .pizzaType span {
  display: block;
  font-size: 25px;
  font-weight: bold;
}
.mainElementsContainer .extras {
  width: 700px;
  margin: 0 auto;
}
.mainElementsContainer .extras .oneExtra {
  width: 33%;
  float: left;
}
.mainElementsContainer .extras .oneExtra.selected {
  background-image: url('../assets/circle.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.mainElementsContainer .extras .oneExtra img {
  width: 100px;
}
.mainElementsContainer .extras .oneExtra p {
  font-size: 35px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
.mainElementsContainer .drinks {
  width: 700px;
  margin: 0 auto;
}
.mainElementsContainer .drinks .drinkBox {
  width: 33%;
  float: left;
  position: relative;
}
.mainElementsContainer .drinks .drinkBox.selected:before {
  background-image: url('../assets/arrowdirect.png');
  content: '';
  background-size: 70px 140px;
  width: 70px;
  height: 140px;
  position: absolute;
  background-repeat: no-repeat;
  top: 178px;
  top: -100px;
  left: 0px;
}
.mainElementsContainer .drinks .drinkBox img {
  width: auto;
  height: 226px;
}
.mainElementsContainer .drinks .drinkBox span {
  display: block;
}
